.items{
    .hebergement{
        @media screen and (min-width: 1200px){
            height:650px
        }
    }
            .card{
                padding: 4px;
                border-radius: 20px;
                box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
            }

                img{
                    height: 121px;
                    border-radius: 20px 20px 0 0;
                }

                h4,p{
                    margin:0;
                } 
}
.items{               
    .photo-best{
        .pop{
        @media screen and (min-width: 1200px){
            height: 650px;
        }
        }        
            .card{
                img{
                    height:144px;
                    border-radius: 20px 0 0 20px;
                }
            }                               
            
    }            
}
  